@import url(../vendor/normalize.css);
@import url(../Blocks/page.css);
@import url(../Blocks/header.css);
@import url(../Blocks/nav.css);
@import url(../Blocks/recipes.css);
@import url(../Blocks/form.css);
@import url(../Blocks/reservation.css);

.menu {
  padding: 100px 0 100px;
  background-color: #fff;
  background-image: url(../images/background_menu.svg);
  background-size: cover;
}

.menu__title {
  text-align: center;
  margin: 0 auto 24px;
  max-width: 780px;
}

.menu_subtitle {
  text-align: center;
  margin: 0 auto 100px;
  max-width: 780px;
}

.menu__cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 100px;
  padding: 0;
  margin: 0;
  list-style-type: none;
}

.card {
  width: 540px;
}

.card__title {
  margin: 0 0 32px;
}

.card__list {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.card__list-item {
  display: flex;
}

.card__list-divider {
  border-bottom: 1px solid black;
  flex-grow: 1;
}
