@import url(../vendor/normalize.css);
@import url(../Blocks/page.css);
@import url(../Blocks/header.css);
@import url(../Blocks/nav.css);
@import url(../Blocks/recipes.css);
@import url(../Blocks/form.css);
@import url(../Blocks/reservation.css);
@import url(../Blocks/menu.css);
@import url(../Blocks/card.css);

.about {
  background-color: #0a2850;
  padding: 0;
  margin: 0;
  color: #fff;
  display: flex;
}

.about_title {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 44px;
  line-height: 52px;
  margin-left: 80px;
  margin-top: 100px;
  max-width: 251px;
}

.about__content {
  max-width: 660px;
  padding: 119px 80px 173px 0;
}

.about__paragraph {
  gap: 20px;
  font-family: "Noto Serif";
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
}

.about__circle {
  width: 426px;
  height: 426px;
  border-radius: 50%;
  background-color: #2f80ed;
  position: absolute;
  margin-top: -152px;
  margin-left: -129px;
}

.about__circle_animation_blurred {
}
